<div>
  <h2>Add a New Pet to the Store</h2>
  <br>
  <form ng-submit="addAPet()" ng-controller="MainCtrl">
      Enter the pet info, and press 'Submit'.
      <br>
      <label>Pet Name:</label>
      <input type="text" ng-model="name" name="name" required/>
      <br>
      <label>Category Id:</label>
      <select ng-model="pet.categoryId" name="categoryId">
        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
      </select>
      <br>
      <label>Pet Types:</label>
      <label ng-repeat="inputTag in tags">
        <input type="checkbox" checklist-model="pet.tags" checklist-value="inputTag"> {{tag.name}}
      </label>
      <br>
      <label>Status:</label>
      <select ng-model="pet.status" name="status" required>
        <option>Available</option>
        <option>Pending</option>
        <option>Sold</option>
      </select>
      <br>
      <label>Photo URLs:</label>
      <tags-input ng-model="pet.photoUrls"></tags-input>
      <br>
      <input type="submit" id="submitCreate" value="SubmitCreate"/>
  </form>

  <h2>View a pet by ID</h2>
  <form ng-submit="findAPet()" ng-controller="MainCtrl">
        Enter the search id, and press 'Search'.
        <br>
        <label>Pet Id</label>
        <input type="text" ng-model="searchPetId" name="searchPetId" required/>
        <br>
        <input type="submit" id="submitSearch" value="SubmitSearch"/>
        <div ng-show="viewPet!=null">
          <br>
          <label>Pet Id:</label>   {{viewPet.id}}
          <br>
          <label>Pet Name:</label>   {{viewPet.name}}
          <br>
          <label>Category Id / Name:</label>   {{viewPet.category.id}} / {{viewPet.category.name}}
          <br>
          <label>Status:</label>   {{viewPet.status}}
          <br>
          <label>Tags (Id / Name):</label>
          <label ng-repeat="viewTag in viewPet.tags">
            {{viewTag.id}} / {{viewTag.name}} <br>
          </label>   
          <label>Photo Urls:</label>
          <label ng-repeat="photoUrl in viewPet.photoUrls"> {{photoUrl}} </label>
        </div>
  </form>



  <h2>Delete pet by ID</h2>
  <p>
    Input: ID; 
    Output: If successful or not
  </p>

</div>
