<div>
  <h2>Add a New Pet to the Store</h2>
  <br>
  <form ng-submit="addAPet()" ng-controller="MainCtrl">
      Enter the pet info, and press 'Submit'.
      <br>
      <label>Pet Name:</label>
      <input type="text" ng-model="name" name="name" required/>
      <br>
      <label>Category Id:</label>
      <select ng-model="categoryId" name="categoryId">
        <option value="0">Category 1</option>
        <option value="1">Category 2</option>
        <option value="2">Category 3</option>
        <option value="3">Category 4</option>
      </select>
      <br>
      <label>Pet Types:</label>
      <label ng-repeat="type in types">
        <input type="checkbox" checklist-model="pet.types" checklist-value="type"> {{type.name}}
      </label>
      <br>
      <label>Status:</label>
      <select ng-model="status" name="status">
        <option>Available</option>
        <option>Pending</option>
        <option>Sold</option>
      </select>
      <label>Names:</label>
      <tags-input ng-model="pet-tags" display-property="names"></tags-input>
      <br>
      <input type="submit" id="submit" value="Submit"/>
      <!--pre>list={{list}}</pre-->
  </form>

  <h2>View a pet by ID</h2>
  <p>
    Input: ID; 
    Output: Pet
  </p>

  <h2>Delete pet by ID</h2>
  <p>
    Input: ID; 
    Output: If successful or not
  </p>

</div>
